/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

/* Estilos do cabeçalho */
header {
    background-color: #002c7d;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.header-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.brasao {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.header-text {
    text-align: center;
}

.header-text p {
    font-size: 16px;
    margin: 5px 0;
    text-transform: uppercase;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #002c7d;
}

th, td {
    border: 1px solid #002c7d;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #00050c;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilos dos inputs e textareas */
input[type="text"], textarea {
    width: 91.5%;
    box-sizing: border-box;
    text-align: center;
}

input[type="text"]::placeholder {
    text-align: center;
}

/* Estilos dos botões */
button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}

.add-btn {
    background-color: #0578f3;
    color: #fff;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
}

.button-select-file {
    background-color: #fff;
    color: #000;
}

.button-send-photo {
    background-color: #28a745;
    color: #fff;
}

footer {
    text-align: center;
}

/* Estilos específicos para inputs */

#municipio-viagem, #municipio, #link, #coordenada, #coordenada2 {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#municipio {
    width: 20%;
    color: #00040a;
}

#municipio-viagem {
    width: 100%;
    color: #010409;
}

#link {
    width: 50%;
    color: #0039a4;
}

#coordenada {
    width: 15%;
    color: #f70019;
}

#coordenada2 {
    width: 100%;
    color: #f70019;
}

/* Estilo das fotos carregadas */
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.image-preview {
    max-width: 7cm;
    max-height: 5cm;
    border: 2px solid #ffffff;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilização da área de segurança da aeronave */
.area_segura {
    max-width: 50%;
    width: 50%;
    height: auto;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

body {
padding: 5%
}


/* Responsividade */
@media only screen and (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .brasao {
        margin-bottom: 10px;
    }

    .header-text p {
        font-size: 14px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }

    .image-preview {
        width: 100%;
        height: auto;
    }

    input[type="text"], select {
        width: 100%;
    }

    .button-send-photo, .button-select-file {
        margin-bottom: 10px;
    }
}
